.qr-grid-rows-15 {
    grid-template-rows: repeat(17, minmax(0, 1fr));
}

#desktopDiv, #mobileDiv{
    position: relative;
}

@media only screen and (min-width: 320px ) and (max-width: 419px) {
    .qr-grid-rows-15 {
        grid-template-rows: repeat(50, minmax(0, 1fr)) !important;
    }

    .qr-grid-cols-6 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}

@media only screen and (min-width: 420px ) and (max-width: 760px) {
    .qr-grid-rows-15 {
        grid-template-rows: repeat(50, minmax(0, 1fr)) !important;
    }

    .qr-grid-cols-6 {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
}


@media only screen and (min-width: 440px) and (max-width: 767px) {
    
    .qr-grid-rows-15{
        grid-template-rows: repeat(25, minmax(0, 1fr));
    }

    .qr-grid-cols-6 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media only screen and (min-width: 768px) and (max-width: 1435px){
    
    .qr-grid-rows-15{
        grid-template-rows: repeat(17, minmax(0, 1fr));
    }

    .qr-grid-cols-6 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}



