<div class="flex h-screen bg-indigo-600">
    <div class="w-full max-w-xs m-auto bg-indigo-100 rounded p-5"> 
    <img class="w-20 mx-auto mb-5" src="../../../assets/images/light-bulb-svgrepo-com.svg" />

        <form #registerForm = "ngForm" (ngSubmit) = "onClickSubmit(registerForm.value)">
            <div>
                <label class="block mb-2 text-indigo-500" for="username">Email</label>
                <input class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300" type="email" ngModel name="email" >
                
            </div>
            <div>
                <label class="block mb-2 text-indigo-500" for="password">Password</label>
                <input class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300" type="password" ngModel name="password">
            </div>
            <div>
                <label class="block mb-2 text-indigo-500" for="confirm_password">Confirm Password</label>
                <input class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300" type="password" ngModel name="confirm_password">
            </div>
            <div>          
                <input class="w-full bg-indigo-600 hover:bg-pink-700 text-white font-bold py-2 px-4 mb-6 rounded" type="submit" value="Register" >
            </div>       
        </form>
        
    </div>
</div>