<app-header></app-header>
<div class="grid md:grid-cols-2 gap-4 p-2">
    <div>
        <div class="grid grid-cols-1  pb-2">
            <div class="display-content bg-indigo-600 w-full  text-white lg:text-2xl p-5  h-auto justify-between">
                <div class="overflow-auto">
                    &nbsp;{{number}} <div id="operatorbox" class="inline"></div> {{price}}
                </div>
                
            </div>
        </div>

        <div class="grid grid-cols-6 gap-2 py-2 justify-self-center">
            <div class="">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded h-12 w-12"
                    (click)='numberFunction("1")'>
                    1
                </button>
            </div>
            <div class="">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded h-12 w-12"
                    (click)='numberFunction("2")'>
                    2
                </button>
            </div>
            <div class="">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded h-12 w-12"
                    (click)='numberFunction("3")'>
                    3
                </button>
            </div>
            <div class="">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded h-12 w-12"
                    (click)='numberFunction("4")'>
                    4
                </button>
            </div>

            <div class="">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded h-12 w-12"
                    (click)='numberFunction("5")'>
                    5
                </button>
            </div>


            <div class="col-span-1">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded   sm:text-xs "
                    (click)='clearFunction()'>
                    <svg class="w-5 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                            clip-rule="evenodd" />
                    </svg>
                   
                </button>
            </div>

            <!-- <div class="col-span-1">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded   sm:text-xs "
                    (click)="clearFunction('all')">
                    AC
                </button>
            </div> -->
            

            
        </div>
        

        <div class="grid grid-cols-6 gap-2 py-2 justify-self-center">

            
            
            <div class="">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded h-12 w-12"
                    (click)='numberFunction("6")'>
                    6
                </button>
            </div>
            <div class="">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded h-12 w-12"
                    (click)='numberFunction("7")'>
                    7
                </button>
            </div>
            <div class="">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded h-12 w-12"
                    (click)='numberFunction("8")'>
                    8
                </button>
            </div>

            <div class="">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded h-12 w-12"
                    (click)='numberFunction("9")'>
                    9
                </button>
            </div>
            
            <div class="">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded h-12 w-12"
                    (click)='numberFunction("0")'>
                    0
                </button>
            </div>

            <div class="">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded h-12 w-12"
                    (click)='numberConnect(",")'>
                    ,
                </button>
            </div>

            
        </div>

        <div class="grid grid-cols-6 gap-2 py-2 justify-self-center">

            

            <div class="col-span-2">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded   sm:text-xs "
                    (click)="operatorFunction('atae', $event)">
                    <svg class="w-4 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        id="atae">
                        <path fill-rule="evenodd"
                            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                            clip-rule="evenodd" />
                    </svg>
                    အတည့်
                </button>
            </div>

            <div class="col-span-2">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded    "
                    (click)="operatorFunction('apyan', $event)">
                    <!-- <svg class="w-4 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        id="apyan">
                        <path
                            d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z" />
                    </svg> -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 inline" viewBox="0 0 20 20" fill="currentColor" id="apyan">
                        <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                      </svg>
                    အပြန်
                </button>
            </div>

            
            <div class="col-span-2">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded    "
                    (click)="operatorFunction('patlal', $event)">
                    <svg class="w-4 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        id="patlal">
                        <path fill-rule="evenodd"
                            d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
                            clip-rule="evenodd" />
                    </svg>
                    ပတ်
                </button>
            </div>
            


            
        </div>

        <div class="grid grid-cols-6 gap-2 py-2 justify-self-center">

            <div class="col-span-2">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded " (click)="operatorFunction('top', $event)">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 inline" viewBox="0 0 20 20" fill="currentColor" id="top">
                        <path fill-rule="evenodd"
                            d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM6.293 6.707a1 1 0 010-1.414l3-3a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L11 5.414V13a1 1 0 11-2 0V5.414L7.707 6.707a1 1 0 01-1.414 0z"
                            clip-rule="evenodd" />
                    </svg>
                    ထိပ်
                </button>
            </div>

            <div class="col-span-2">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded " (click)="operatorFunction('last', $event)">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 inline" viewBox="0 0 20 20" fill="currentColor" id="last">
                        <path fill-rule="evenodd"
                            d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                            clip-rule="evenodd" />
                    </svg>
                    ပိတ်
                </button>
            </div>

            
            <div class="col-span-2">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded    "
                    (click)="operatorFunction('apuu', $event)">
                    <svg class="w-7 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        id="apuu">
                        <path d="M7 9a2 2 0 012-2h6a2 2 0 012 2v6a2 2 0 01-2 2H9a2 2 0 01-2-2V9z" />
                        <path d="M5 3a2 2 0 00-2 2v6a2 2 0 002 2V5h8a2 2 0 00-2-2H5z" />
                    </svg>
                    အပူး
                </button>
            </div>

            
        </div>

        <div class="grid grid-cols-6 gap-2 py-2 justify-self-center">

            <div class="col-span-2">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded    "
                    (click)="operatorFunction('netkhat', $event)">
                    <svg class="w-4 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        id="netkhat">
                        <path fill-rule="evenodd"
                            d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
                            clip-rule="evenodd" />
                    </svg>
                    နက္ခတ်
                </button>
            </div>

            <div class="col-span-2">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded    "
                    (click)="operatorFunction('power', $event)">
                    <svg class="w-4 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        id="power">
                        <path fill-rule="evenodd"
                            d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z"
                            clip-rule="evenodd" />
                    </svg>
                    ပါဝါ
                </button>
            </div>

            <div class="col-span-2">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded    "
                    (click)="operatorFunction('apwint', $event)">
                    <svg class="w-4 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        id="apwint">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
                    အပွင့်
                </button>
            </div>

        </div>

        <div class="grid grid-cols-6 gap-2 py-2 justify-self-center">
            <div class="col-span-2">
                <button
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded    "
                    (click)="operatorFunction('nyiko', $event)">
                    <svg class="w-4 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        id="nyiko">
                        <path
                            d="M5 12a1 1 0 102 0V6.414l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L5 6.414V12zM15 8a1 1 0 10-2 0v5.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L15 13.586V8z" />
                    </svg>
                    ညီကို
                </button>
            </div>

            <div class="col-span-4">
                <button *ngIf="!editRowId"
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded    "
                    (click)="confirmFunction()">
                    <svg class="w-4 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            clip-rule="evenodd" />
                    </svg>

                    OK
                </button>

                <button *ngIf="editRowId"
                    class="bg-indigo-700 hover:bg-indigo-800 text-white font-bold w-full h-full p-4 lg:p-5 border-indigo-900 hover:bg-indigo-500 rounded    "
                    (click)="updateFunction()">

                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 inline" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                        <path fill-rule="evenodd"
                            d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                            clip-rule="evenodd" />
                    </svg>

                    Update
                </button>
            </div>
        </div>
    </div>

    <div>
        <div class="grid grid-cols-5 gap-4 pt-5 mb-5">
            <div class="row-span-full">

                <div>
                    <label for="am" class="md:text-2xl text-indigo-800 mr-5 sm:text-lg">
                        <input [(ngModel)]="am" id="am" type="checkbox" class="form-checkbox h-5 w-5 " name="am"> AM
                    </label>
                </div>
                <div class="pt-5">
                    <label for="pm" class="md:text-2xl text-indigo-800 sm:text-lg">
                        <input [(ngModel)]="pm" id="pm" type="checkbox" class="form-checkbox h-5 w-5 " name="pm"> PM
                    </label>
                </div>

            </div>
            <div class="col-span-4 row-span-full">

                <div>
                    <input [(ngModel)]="name"
                        class="w-full p-2 mb-2 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300"
                        type="text" name="name" placeholder="Name" autocomplete="off">
                </div>

                <div>
                    <input
                        class="w-full p-2  text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300"
                        type="date" name="date" placeholder="Date" [(ngModel)]="date" (change)="changeDate($event)"
                        min="{{date}}">
                </div>

            </div>
        </div>

        <div>
            <table class="table-auto w-full">
                <thead>
                    <tr class="bg-indigo-700 text-white">
                        <th class="md:px-4 py-4 border">Numbers</th>
                        <th class="md:px-4 py-4 border">Key</th>
                        <th class="md:px-4 py-4 border">Rate</th>
                        <th class="md:px-4 py-4 border">Amount</th>
                        <th class="md:px-4 py-4 border text-center">
                            Edit
                        </th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let item of tableRow; let i = index;" class="hover:bg-indigo-100 border"
                        id="row-{{item.uuid}}">
                        <td class="text-center border md:p-3">
                            {{item.number}}
                        </td>
                        <td class="text-center border" id="{{item.uuid}}">
                            {{appendSign(item.uuid, item.operator)}}
                        </td>
                        <td class="text-right border md:px-4">{{item.price}}</td>
                        <td class="text-right border md:px-4">{{item.amount}}</td>
                        <td class="text-center flex  md:p-3">
                            &emsp;
                            <button (click)="editRow(item.uuid)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer  text-yellow-600"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                </svg>
                            </button>
                            &nbsp;
                            &nbsp;
                            <button (click)="showModal(item.uuid)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500 cursor-pointer"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
                                </svg>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td class="bg-gray-100 text-center px-4 py-4" colspan="5" *ngIf="!tableRow.length">

                            <strong class="text-red-500">No Record!</strong>
                        </td>
                    </tr>

                    <!-- <tr class="hover:bg-indigo-100">  
                    <td class="border px-4 py-4">Intro to CSS</td>
                    <td class="border px-4 py-4">Adam</td>
                    <td class="border px-4 py-4 text-right">858</td>
                    <td class="border px-4 py-4 text-right">858</td>
                    <td class="border px-4 py-4 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                        </svg>
                    </td>
                  </tr> -->
                    <tr class="bg-indigo-700 ">
                        <td class="border px-4 py-4 text-right text-white" colspan="3">Sub Total</td>
                        <td class="border px-4 py-4 text-right text-white">{{totalAmount}}</td>
                        <td class="border px-4 py-4 text-right"></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="grid grid-cols-10 gap-4 ">
            <div class="mt-5 col-span-4 col-start-4">
                <button
                    class="px-4 py-4 rounded    w-full text-white hover:bg-indigo-800 cursor-pointer focus:outline-none focus:ring-4 focus:ring-indigo-600 focus:ring-opacity-50"
                    (click)="confirmOrder()" [disabled]="!name || !date || !tableRow.length"
                    [ngClass]="!name || !date || !tableRow.length ? 'bg-indigo-500' : 'bg-indigo-700'">
                    သိမ်းမည်။
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Modal -->
<div class="fixed top-0 left-0 right-0 bottom-0 w-full h-screen z-50 overflow-hidden bg-gray-700 bg-opacity-40 flex flex-col items-center justify-center"
    *ngIf="showModalBox">
    <div class="bg-gray-50 max-w-sm py-2 px-3 rounded shadow-md text-gray-800 w-full  z-10">
        <div class="flex justify-between items-center border-b-2 pb-2">
            <h4 class="text-lg font-bold text-center w-full text-red-600">Are you sure to delete!</h4>
            <button (click)="hideModal()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2M3 12l6.414 6.414a2 2 0 001.414.586H19a2 2 0 002-2V7a2 2 0 00-2-2h-8.172a2 2 0 00-1.414.586L3 12z" />
                </svg>
            </button>

        </div>
        <div class="mt-2 pb-2 border-b-2">
            <p>
                This record will be delete!
            </p>
        </div>
        <div class="mt-3 flex justify-end space-x-3">
            <button class="px-3 py-1 rounded bg-gray-50 hover:bg-gray-200" (click)="hideModal()">Cancel </button>
            <button class="px-3 py-1 rounded bg-red-500 text-gray-200 hover:bg-red-800"
                (click)="deleteRow()">Delete</button>
        </div>
    </div>
</div>
<!-- End Confirm Modal -->